.arrow-up,.arrow-down{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    border-color: #fff #fff #a5a5a5 #fff;
    border-width: 0px 10px 10px;
    display: inline-block;
    border-style: solid;
    position: relative;
    top: -12px;
    left: 10px;
}
.arrow-down {
    border-color: #a5a5a5 #fff #fff #fff;
    border-width: 10px 10px 0px;
    position: relative;
    top: 4px;
    left: -18px;
}
.detailtype ul li{
    width:32%;
    text-align: center;
    float:left;
    font-size: 28px;
    color:#adadad;
}
.detailtype ul li.on{
    color:#6c6c6c
}
.detailtype{
    height: 80px;
    line-height: 80px;
    border-bottom:1px solid #e9e9e9
}
.detailPro .goods_title {
    width: 100%;
    font-size: 28px;
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: 60px;
}
.detailPro ul li{
    padding:20px;
    border-bottom:10px solid #f2f2f2;
}
.detailPro ul li .title_box{
    color:#2c2c2c;
    font-size:24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.detailPro ul li .new_price{
    color:#ff4c4c;   
}



/* 商品详情 */

.prodetailsbox .myswiper,.prodetailsbox .myswiper a{
    height: 510px;
    overflow: hidden;
}

.prodetailtext .goodsbox{
    background:#fff;
    padding:0 1.5rem;
}
.goodstitle{
    color:#2c2c2c;
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    height: 2rem;
    line-height: 1rem;
}
.goodstrait,.praises{
    color:#c8c8c8;
    line-height: 2rem
}

.welfare{
    background:#fff;
    margin-top:0.25rem;
    font-size: 0.6rem;
    color:#c8c8c8;
    padding:1rem 2rem
}
.welfare2c{
    color:#2c2c2c
}
.walfareml38{
    margin-left: 1.8rem;
}
.safeguard{
    color:#c8c8c8;;
    background:#fff;
    margin-top:0.25rem;
    padding:0 0.8rem;
    height: 2rem;
}
.evaluate{
    background:#fff;
    padding:0 0.8rem;
    margin-top:0.25rem;
    padding-bottom:1rem
}
.details h3{
    line-height: 3rem;
    height: 3rem;
    text-align:center;
    color:#2c2c2c;
    font-weight:normal
}

.returnTop {
    position: fixed;
    right: 0.5rem;
    bottom: 4.5rem;
    width:1.8rem;
    height: 1.8rem;
    display: block
}


.choosemodels {
    width: 95%;
    height: 100%;
    background:rgba(0,0,0,.5);
    position: fixed;
    bottom:2.5rem;
    left:0;
    padding:0 1rem;
    z-index:3;
}

.modelsbox{
    position:fixed;
    bottom:2.5rem;
    left:0;
    width:100%;
    background:#fff
}
.modelMsg img{
    width:5rem;
    height: 5rem;
    margin-top:-1.75rem;
    margin-right: 0.75rem;
}
.modelMsg{
    margin:0 1rem;
    border-bottom:1px solid #000;
    padding-bottom:1rem;
    position: relative;
}
.goodstype ,.goodsColor{
    padding:0 1rem;
}
.goodstype p,.goodsColor p{
    font-size:0.8rem;
    margin-top:1.4rem;
    margin:0.75rem 0;
}
.goodstype ul li{
    float:left;
    height:1.5rem;
    line-height: 5rem;
    text-align:center;
    width:22%;
    margin-right:3%;
    background:#f8f8f8;
    border-radius: 0.2rem;
    font-size:0.6rem;
}
.goodstype ul li.on,
.goodsColor ul li.on{
    background:#ff4c4c;
    color:#fff
}
.goodstype {
    margin-bottom:1.2rem;
}
.goodsColor ul li{
    float:left;
    height:1.5rem;
    line-height: 30px;
    text-align:center;
    width:17%;
    margin-right:3%;
    background:#f8f8f8;
    border-radius: 0.2rem;
    font-size:0.6rem;
}
.goodsColor {
    margin:0 1rem;
    padding-bottom:1.5rem;
    border-bottom:1px solid #000
}
.buycount{
    margin:1rem 1rem;
}
.closechoose{
    position: absolute;
    right: 1rem;
    top: -3.2rem;
}
.closechoose .closeb{
    width:2rem;
    height:2rem;
}
.changeCount a,.changeCount input{
    display: inline-block;
    width:3rem;
    height:3rem;
    text-align:center;
    line-height:3rem;
    background:#f8f8f8;
    border:none
}
.goodsbtn a{
    display: block;
    width:100%;
    height:5rem;
    line-height: 5rem;
    text-align: center;
    color:#fff
}
.goodsbtn{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index:2;
}