body{
    background:#f2f2f2;
    padding-bottom:100px;
}
.storemsg{
    color:#fff;
    padding:40px 50px;
}
.storeimgs {
    width:88px;
    height: 88px;
    border-radius: 50%;
    margin-right: 30px;
}
.storeimgs  .storeimg{
    border-radius: 50%
}
.storelogo{
   bottom:0;
   right:0;
   width:26px;
   height:26px;
}
.crownlist {
    margin-right: 20px
}
.crownlist ul li{
    float:left;
    width:34px;
    height: 26px;
    line-height: 26px;
}

.attention{
    width:122px;
    height:56px;
    line-height:56px;
    text-align:center;
    border-radius:31px;
    border:2px solid #fff;
}
.storename p{
    line-height: initial
}
.storename>p{
    margin-bottom:16px
}


.newgoods{
    background:#fff;
    border-radius: 20px;
    height:100px;
    line-height: 100px;

}
.classifybox{
    padding:0 20px;
}
.newgoods{
    padding:0 30px;
    margin:20px 0
}

.scrollimg li img{
    width:100%
}
#leftTabBox1 .hd{
    height:724px;
}
#scrollimg{
    margin-bottom:10px;
}
#nav {
    padding-bottom:30px;
}
#nav  ul li {
    float:left;
    text-align: center;
    color:#fff;
    position: relative;
}
#nav  ul li.active p{
    color:#ff4c4c
}
#nav  ul li.active-nav p:after{
    content:'';
    width:60px;
    height: 6px;
    background:#fff;
    border-radius: 30px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-30px
}

.swiper-slide.points{
    width: 20px;
    height: 20px;
    border: 50%;
    border-radius: 50%;
    background: #fff;
}
#nav3 ul li p{
    color:#fff;
    text-align: center;
}
#nav3 ul li.active-nav{
    background:#fff;
  
    border-radius: 40px;
}
#nav3 ul li.active-nav p{
    color:#ff4c4c
}
#nav3{
    padding-left:50px;
    padding-bottom:30px;
}
#nav3 ul li{
    height:50px;
    line-height:50px;
    width: 20%;
    margin-right: 5%;
}
.goodslist ul li{
    width: 49%;
    float: left;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    margin-bottom:10px;
}
.goodslist ul li p{
    text-align:left;
    padding-left:10px;
    padding-top:10px;
    height: 92px;
    line-height:46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.goodslist ul li .googsimg{
    width:100%;
    height:380px
}

.goodslist ul li:nth-child(odd){
    margin-right: 2%
}
.goodslist ul li .googsimg img{
    border-radius: 20px;
}
 .newgoodlsit{
    padding:20px
}
.goodpay{
    margin-left:20px;
    color:#8f8f8f
}



#page3{
    margin-top:20px
}
.goodslist{
    padding:0 20px
}
.imgl{
    width:550px;
    height: 308px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.imgr{
    height:152px;
    width:152px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.updatelist h3{
    color:#656464;
    font-weight: normal
}
.newlsit ul li {
    width:49%;
    float:left;
    max-width: 346px;
    background:#fff;
    border-radius: 20px;
    margin-bottom:10px;
}
.newlsit ul li:nth-child(odd){
    margin-right: 2%
}

.newlsit ul li p{
    height:80px;
    line-height: 40px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top:20px;
}
.storefooter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9;
    background: #fff;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,.6);
}
.storefooter ul li{
    float:left;
    width:33.3%;
    text-align: center;
}
.storefooter ul li p{
    line-height:0px;
}
.storefooter ul li img{
    margin-top:-22px
}
.searchbox input{
    height: 54px;
    line-height: 54px;
    border:1px solid #fff;
    border-radius: 40px;
    padding-left: 76px;
    position: relative;
    background: #ff4c4c;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
    width:88%;
}
.inputbox:before{
    content:"";
    background:url("../../images/good/searchW.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: 6px;
    left: 24px;
    width: 32px;
    height: 32px;
    z-index: 2;
}
.searchbox {
    text-align: center;
    
}
.inputbox{
    width: 85%;
    margin:0 auto
}
.searchbox input::-webkit-input-placeholder {
    color: #fff;
}
.classifylist>ul>li{
    background:#fff;
    border-radius: 20px;
    padding:28px 30px 10px 30px;
    margin-top:20px
}
.classifylist>ul>li ul li{
    float:left;
    width:49%;
    text-align: center;
    color:#656464;
    height:76px;
    line-height: 76px;
    background:#efefef;
    border-radius: 20px;
    margin-bottom:10px
    
}
.classifylist>ul>li ul li:nth-child(odd){
    margin-right: 2%
}
.classifyTitle{
    margin-bottom:10px;
}
.classifylist {
    padding:0 20px
}
.classifydetails{
    padding-bottom:30px;
}
#nav4{
    padding-top:20px
}
#nav4 ul li{
    text-align: center;
}
#nav4 ul li.active-nav{
    color:#ff4c4c
}
.inputboxhead{
    width:80%;
    margin:0 auto
}
.inputboxhead input{
    width:100%;
    border: 0;
    border-radius: 40px;
    height: 56px;
    line-height: 56px;
    text-indent: 90px;
    margin-top: -6px;
}
.inputboxhead  input::-webkit-input-placeholder {
    color: #f2f2f2;
}
.inputboxhead:before{
    content:"";
    background:url("../../images/good/searchR.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: 46px;
    left: 24px;
    width: 32px;
    height: 32px;
    z-index: 2;

}

.storelist #nav li p{
    color:#000
}
.storelist #nav{
    margin-top:30px;
    padding-bottom:30px;
}
.storelist #nav li.active-nav p{
    color:#ff4c4c
}
.storelist  #nav ul li.active-nav p:after{
    width:0
}
.storelist .storeimg{
    width:78px;
    height: 78px;
    border-radius: 50%;
    margin-right:30px
}
.storelist .storeimg img{
   border-radius: 50%;
}
.storesbox{
    padding:0 20px;
}
.storesbox ul li{
    background:#fff;
    border-radius: 20px;
    padding:30px;
    margin-bottom: 20px;

}
.storesbox ul li p{
    line-height: 40px;
}
.col8f{
    color:#8f8f8f
}
.storesbox ul li .goIn{
    width:90px;
    padding: 4px 0px;
    border:2px solid #ff4c4c;
    border-radius: 20px;
    text-align: center;
    color:#ff4c4c;
    display: block;
}
.storegoodsimg{
    margin-top:30px;
}
.storegoodsimg div{
    width: 31%;
    height: 210px;
    border-radius: 40px;
    margin-right: 2%;
}
.storegoodsimg div img{
    border-radius: 40px;
}
.storelist .inputbox input{
    width: 100%;
    height: 56px;
    line-height: 56px;
    border-radius: 40px;
    border: 0;
    margin-top: -8px;
}
.storelist .inputbox input::-webkit-input-placeholder {
    color: #f2f2f2;
}
.storelist  .inputbox:before{
    background: url(../../images/good/searchR.png) no-repeat;
    background-size: 100%
}
.storefocus{
    position: relative;
}
.storefocus .hd ul li{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background:#fff;
    margin-right: 18px;
    float:left;
}
.storefocus .hd ul li.on{
    background:#ff4c4c
}
.storefocus .hd{
    position:absolute;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
    z-index: 2;
}

.storeindex ul li p{
    padding-bottom:10px
}
